.header-container{
    background-color: var(--color-header-background);
    color: var(--color-header-text);
    height: 120px;
}

.header-container .title-box{
    padding: 25px;
}

.header-container .title-box .title{
    font-family: Leckerli, fantasy;
    font-size: 5vh;
}

.header-container .login-box .login{
    height: 30px;
    margin-right: 0;
}

.header-container .login-box .signup{
    background-color: var(--color-search-box-background);
    color:var(--color-blue-5);
    height: 30px;
    padding: 20px;
    border-radius: 20px;
}

.header-container a:hover{
    color: var(--color-white-5);
}

.header-container .login-box span{
    font-weight: 400;
}

