.header-navbar-container{
    background-color: var(--color-header-navbar-background);
    color: var(--color-header-navbar-text);
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}