.search-box{}
.search-box .search-input-box .search-input{
    background-color: var(--color-search-box-background);
    color: var(--color-search-input-text) !important;
    width: 70vh;
    height: 40px;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
}
.search-box .search-input-box .search-input:focus{
    outline: none;
}
.search-box .search-button-box .search-button{
    background-color: var(--color-search-box-button-background);
    color: var(--color-white-1);
    outline: none;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.search-box .search-button-box .search-button:hover {
    background-color: var(--color-search-box-button-background);
}